<div class='col-lg-12 col-md-12 col-sm-12'>
  <div class='box'>
    <div class='box-header'>
      <h2><%= Messages::Topic.model_name.human(count: :many) %></h2>
      <div class='box-icon'>
        <%= link_to new_messages_topic_path do %>
          <i class='icon-plus'></i>
        <%- end %>
      </div>
    </div>
    <div class='box-content' style='background-color: rgb(245,245,245)'>
      <ul class='messagesList'>
        <%- current_user.approved_topics.each do |topic| %>
          <li>
            <%= link_to topic do %>
            <span class='from' style='width:35%'>
              <%= topic.circle %>
            </span>
            <span class='title' style='width:45%'>
              <%= topic.subject %>
            </span>
            <span class='date' style='width:19%'>
              <%= format_datetime_from_topic topic.updated_at %>
            </span>
            <% end %>
          </li>
        <%- end %>
      </ul>
    </div>
  </div>
  <%- if can? :approve, Messages::Topic %>
    <div class='box'>
      <div class='box-header'>
        <h2>Aprovar <%= Messages::Topic.model_name.human(count: :many) %></h2>
      </div>
      <div class='box-content' style='background-color: rgb(245,245,245)'>
        <ul class='messagesList'>
          <%- current_user.unapproved_topics.each do |topic| %>
            <li>
              <%= link_to topic do %>
              <span class='from' style='width:35%'>
                <%= topic.circle %>
              </span>
              <span class='title' style='width:40%'>
                <%= topic.subject %>
              </span>
              <span class='date' style='width:19%'>
                <%= format_datetime_from_topic topic.updated_at %>
              </span>
              <% end %>
              <%= link_to approve_messages_topic_path(topic), method: :post do %>
                <i class='icon-ok'></i>
              <% end %>
              <%= link_to messages_topic_path(topic), method: :delete do %>
                <i class='icon-remove'></i>
              <% end %>
            </li>
          <%- end %>
        </ul>
      </div>
    </div>
    <div class='box'>
      <div class='box-header'>
        <h2><%= Messages::Topic.model_name.human(count: :many) %> dos Grupos</h2>
      </div>
      <div class='box-content' style='background-color: rgb(245,245,245)'>
        <ul class='messagesList'>
          <%- current_user.groups_topics.each do |topic| %>
            <li>
              <%= link_to topic do %>
              <span class='from' style='width:35%'>
                <%= topic.circle %>
              </span>
              <span class='title' style='width:45%'>
                <%= topic.subject %>
              </span>
              <span class='date' style='width:19%'>
                <%= time_ago_in_words topic.updated_at %>
              </span>
              <% end %>
            </li>
          <%- end %>
        </ul>
      </div>
    </div>
  <%- end %>

</div>
