<h2><%= I18n.t('login.login_message') %></h2>
<%= form_tag '/session', class: 'form-horizontal' do %>
  <fieldset>

    <input class="input-large col-xs-12" name="username" id="username" type="text" placeholder="<%= I18n.t('login.username') %>"/>

    <input class="input-large col-xs-12" name="password" id="password" type="password" placeholder="<%= I18n.t('login.password') %>"/>

    <div class="clearfix"></div>

    <!--label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label-->

    <div class="clearfix"></div>

    <button type="submit" class="btn btn-primary col-xs-12"><%= I18n.t('links.login') %></button>
  </fieldset>
<% end %>
<hr>
<h3><%= t('login.forgot_password') %></h3>
<p>
  <%= t('login.forgot_password_message_html', url: new_password_reset_path) %>
</p>

