<div class='row'>
  <div class='col-lg-12'>
    <div class='box'>
      <div class='box-header'>
        <h2><i class="icon-plus"></i>
          <%= I18n.t('headers.new_resource', resource: PubKey.model_name.human)%>
        </h2>
      </div>
      <div class='box-content'>
        <%= simple_form_for @pub_key do |f| %>
          <fieldset class='col-sm-12'>
            <%= f.input :name %>
            <%= f.input :value, as: :text, input_html: { rows: 10} %>
            <div class="form-actions">
              <%= f.submit I18n.t('links.save'), class: 'btn btn-primary' %>
            </div>
          </fieldset>
        <%- end %>
      </div>
    </div>
  </div>
</div>
