<div class='task <%=task.status%>'>
  <div class='desc'>
    <div class='title'><%= task.description %></div>
    <div>
      <%- task.children.each do |subtask| %>
          <div class='task <%= subtask.status %>' style='border-left-width: 10px'>
            <div class='desc' style='padding-top: 2px; padding-bottom: 2px'>
              <div class='title' style='font-size: 14px'>
                <%= subtask.description %>
              </div>
            </div>
            <div class='time' style='width: 25%'>
              <div>
                <%= l subtask.real_start_date %> - <%= l subtask.real_end_date %>
                <span>
                  <%- if current_user.is_a? Student %>
                    <%- if subtask.started? %>
                      <%= link_to complete_group_task_path(subtask.group, subtask), :method => :put do %>
                        <i class='icon-stop'></i>
                      <%- end %>
                    <%- end %>
                    <%- if !subtask.started? && !subtask.completed? %>
                      <%= link_to start_group_task_path(subtask.group, subtask), :method => :put do %>
                        <i class='icon-play'></i>
                      <%- end %>
                    <%- end %>
                  <%- end %>
                </span>

              </div>
            </div>
          </div>
      <%- end %>
    </div>
  </div>
  <div class='time' style='width: 25%'>
    <div class='date'>
      <%=l task.real_start_date %> - <%=l task.real_end_date %>
      <span>
        <%- if current_user.is_a? Student %>
          <%- if task.started? %>
            <%= link_to complete_group_task_path(task.group, task), :method => :put do %>
              <i class='icon-stop'></i>
            <%- end %>
          <%- end %>
          <%- if !task.started? && !task.completed? %>
            <%= link_to start_group_task_path(task.group, task), :method => :put do %>
              <i class='icon-play'></i>
            <%- end %>
          <%- end %>
        <%- end %>
      </span>
    </div>
  </div>
</div>
