<!-- start: Header -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="main-menu-toggle" class="hidden-xs open"><i class="icon-reorder"></i></a>
      <div class="row">
        <%= link_to root_path, class: 'navbar-brand col-lg-2 col-sm-1 col-xs-12' do %>
          <span>SAAP</span>
        <% end %>
      </div>
      <!-- start: Header Menu -->
      <div class="nav-no-collapse header-nav">
        <ul class="nav navbar-nav pull-right">
          <!-- start: User Dropdown -->
          <li class="dropdown">
          <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="avatar"><img src="<%= gravatar_url_for(current_user) %>" alt="Avatar"></div>
            <div class="user">
              <span class="hello"><%= I18n.t('app.welcome_navbar') %></span>
              <span class="name"><%= current_user.username %></span>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-menu-title">
            </li>
            <li>
              <%= link_to profile_path do %>
                <i class="icon-user"></i>
                <%= I18n.t('links.profile') %>
              <%- end %>
            </li>
            <li>
              <%= link_to pub_keys_path do %>
                <i class='icon-key'></i>
                <%= PubKey.model_name.human(count: :many) %>
              <% end %>
            </li>
            <li>
            <%= link_to  session_path, method: :delete, data: { confirm: t('links.confirmation') } do %>
                <i class='icon-off'></i>
                <%= I18n.t('links.logout') %>
              <% end %>
            </li>
          </ul>
          </li>
          <!-- end: User Dropdown -->
        </ul>
      </div>
      <!-- end: Header Menu -->

    </div>
  </div>
</div>
<!-- end: Header -->


