<!-- start: Main Menu -->
<div id="sidebar-left" class="col-lg-2 col-sm-1">

  <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <%- if can? :manage, Messages::Topic %>
        <li>
          <%= link_to '#', class: 'dropmenu' do %>
            <i class='icon-envelope'></i><span class='hidden-sm'><%= Messages::Topic.model_name.human(count: :many) %></span>
          <%- end %>
          <ul>
            <li>
              <%= link_to new_messages_topic_path, class: :submenu do %>
                <i class='icon-plus'></i><span class='hidden-sm'><%= I18n.t('links.new') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to messages_topics_path, class: :submenu do %>
                <i class='icon-list'></i><span class='hidden-sm'><%= I18n.t('links.list') %></span>
              <% end %>
            </li>
          </ul>
        </li>
      <%- end %>
      <%- if can? :manage, Professor %>
        <li>
          <%= link_to '#', class: 'dropmenu' do %>
            <i class='icon-user'></i><span class='hidden-sm'><%= Professor.model_name.human(count: :many) %></span>
          <% end %>
          <ul>
            <li>
              <%= link_to new_professor_path, class: :submenu do %>
                <i class='icon-plus'></i><span class='hidden-sm'><%= I18n.t('links.new') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to professors_path, class: :submenu do %>
                <i class='icon-list'></i><span class='hidden-sm'><%= I18n.t('links.list') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to import_professors_path, class: :submenu do %>
                <i class='icon-upload'></i><span class='hidden-sm'><%= I18n.t('links.import') %></span>
              <% end %>
            </li>
          </ul>
        </li>
      <%- end %>
      <%- if can? :manage, Student %>
        <li>
          <%= link_to '#', class: 'dropmenu' do %>
            <i class='icon-user'></i><span class='hidden-sm'><%= Student.model_name.human(count: :many) %></span>
          <% end %>
          <ul>
            <li>
              <%= link_to new_student_path, class: :submenu do %>
                <i class='icon-plus'></i><span class='hidden-sm'><%= I18n.t('links.new') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to students_path, class: :submenu do %>
                <i class='icon-list'></i><span class='hidden-sm'><%= I18n.t('links.list') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to import_students_path, class: :submenu do %>
                <i class='icon-upload'></i><span class='hidden-sm'><%= I18n.t('links.import') %></span>
              <% end %>
            </li>
          </ul>
        </li>
      <%- end %>
      <%- if can? :manage, Subject %>
        <li>
          <%= link_to '#', class: 'dropmenu' do %>
            <i class='icon-user'></i><span class='hidden-sm'><%= Subject.model_name.human(count: :many) %></span>
          <% end %>
          <ul>
            <li>
              <%= link_to new_subject_path, class: :submenu do %>
                <i class='icon-plus'></i><span class='hidden-sm'><%= I18n.t('links.new') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to subjects_path, class: :submenu do %>
                <i class='icon-list'></i><span class='hidden-sm'><%= I18n.t('links.list') %></span>
              <% end %>
            </li>
            <li>
              <%= link_to import_subjects_path, class: :submenu do %>
                <i class='icon-upload'></i><span class='hidden-sm'><%= I18n.t('links.import') %></span>
              <% end %>
            </li>
          </ul>
        </li>
      <%- end %>
      <%- if can?(:manage, Crowd) || can?(:read, Crowd) %>
        <li>
          <%= link_to '#', class: 'dropmenu' do %>
            <i class='icon-user'></i><span class='hidden-sm'><%= Crowd.model_name.human(count: :many) %></span>
          <% end %>
          <ul>
            <%- if can? :create, Crowd %>
              <li>
                <%= link_to new_crowd_path, class: :submenu do %>
                  <i class='icon-plus'></i><span class='hidden-sm'><%= I18n.t('links.new') %></span>
                <% end %>
              </li>
            <%- end %>
            <%- if can? :read, Crowd  %>
              <li>
                <%= link_to crowds_path, class: :submenu do %>
                  <i class='icon-list'></i><span class='hidden-sm'><%= I18n.t('links.list') %></span>
                <% end %>
              </li>
            <%- end %>
            <%- if can? :import, Crowd  %>
              <li>
                <%= link_to import_crowds_path, class: :submenu do %>
                  <i class='icon-upload'></i><span class='hidden-sm'><%= I18n.t('links.import') %></span>
                <% end %>
              </li>
            <%- end %>
          </ul>
        </li>
      <%- end %>
      <%- if current_user.is_a? Professor %>
        <li>
          <%= link_to dashboard_path do %>
            <i class='icon-file'></i><span class='hidden-sm'><%= Enunciation.model_name.human(count: :many) %></span>
          <%- end %>
        </li>
      <%- end %>
    </ul>
  </div>
</div>
<!-- end: Main Menu -->


